a, input, div, textarea {
	outline: none;
}

html, body, h1, h2, h3, h4, ul, li, ol, dl, dt, dd, form, p, input, textarea {
	margin: 0;
	padding: 0;
}

input, textarea {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul, dl, ol {
	list-style: none;
}

html, body {
	height: 100%;
}

html {
	font-size: 14px;
}

* {
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
}

@media screen and (max-width: 320px) {
	html {
		font-size: 12px;
	}
}

@media screen and (max-width: 300px) {
	html {
		font-size: 11px;
	}
}

@media screen and (max-width: 280px) {
	html {
		font-size: 10px;
	}
}

body {
	/**font-family: "微软雅黑", "华文细黑", Arial, Helvetica, sans-serif;*/
	background-color: #f8f8f8;
	color: #6c6c6c;
	user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	-webkit-text-size-adjust: none;
	-o-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	width: 100%;
	max-width: 480px;
	min-width: 280px;
	margin: 0 auto;
}

img {
	border: none;
}

h1, h2, h3 {
	font-weight: normal;
}

.clear {
	clear: both
}

.clear:after {
	content: '\20';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

a {
	text-decoration: none;
}

.none {
	display: none !important;
}
/***/
.red {
	color: #ec4e43;
}

.instant-message {
	position: fixed;
	bottom: 160px;
	width: 100%;
	max-width: 480px;
	min-width: 280px;
	text-align: center;
	z-index: 9999;
}

.instant-message span {
	margin: 10px;
	background: rgba(0, 0, 0, 0.6);
	line-height: 20px;
	color: #fff;
	padding: 10px;
	display: block;
}

.page__hd {
	padding: 20px 0 20px 40px;
}

.page__title {
	text-align: left;
	font-size: 20px;
	font-weight: 400;
}

.page__desc {
	margin-top: 5px;
	color: #888;
	text-align: left;
	font-size: 14px;
}

.page__ft {
	padding-top: 40px;
	padding-bottom: 10px;
	text-align: center;
}

.backToTop {
	width: 32px;
	background: url('../../img/back-top-btn.png') no-repeat 0 0;
	height: 32px;
	display: block;
	text-decoration: none;
	display: none
}

.pager-box {
	
}

.pager-line-1 {
	padding: 8px 12px;
	font-size: 14px;
	background: #FFF;
}

.pager-line-1 .pager-box {
	width: 20px;
	text-align: center;
}

.pager-line-2 {
	padding: 2px 12px;
	font-size: 18px;
}

.pager-quick-filter {
	padding: 0 8px;
	line-height: 34px;
	color: #999;
	border: 1px solid #999;
}

.pager-quick-filter.selected {
	background: #267ad2;
	color: #FFF;
	border: 1px solid #267ad2;
}

.exec-btn-wapper {
	text-align: center;
	background: #FFF;
	padding: 6px 0 0;
	border-bottom: 1px solid #f8f8f8;
}