body {
	background: #FFF;
}

table {
    width: 95%;
    height: 300px;
    text-align: center;
    margin: 0 auto;
}


.calendar {
    height: 100px;
    line-height: 100px;
    font-size: 20px;
    border-bottom: 1px solid gainsboro;
    margin-left: 8px;
    margin-right: 8px;
    padding-top: 30px;
    margin-bottom: 18px;
}

input {
	background-color: #f59b42;
	border-radius: 5px;
	width: 100px;
	height: 40px;
	border: 0;
}