body {
	background: #FFF;
}

.xiugai {
	text-align: center;
	margin-top: 5px;
}

a {}

.shuzi {
	float: right;
	margin-right: 8px;
}

.xiugai input {
	width: 90%;
	border: 0;
	height: 40px;
	border-radius: 5px;
	background-color: #f59b42;
	font-size: 20px;
}

.return1 {
	text-align: center;
	margin-top: 5px;
}

.return1 input {
	width: 90%;
	border: 0;
	height: 40px;
	border-radius: 5px;
	background-color: #f59b42;
	font-size: 20px;
}

.header {
    height: 100px;
    line-height: 100px;
    background-color: #f59b42;
    text-align: center;
    font-size: 20px;
}




.money {
	height: 30px;
	border-bottom: 1px solid gainsboro;
	line-height: 30px;
}

.shouyd1 {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid gainsboro;
    padding-top: 4px;
}

.shouyd {
	background-color: gainsboro;
	height: 30px;
	line-height: 30px;
	    padding-left: 8px;
}

.jieshou {
	clear: both;
	height: 100px;
	line-height: 100px;
	border-bottom: 1px solid gainsboro;
	border-top: 1px solid gainsboro;
	margin-top: 5%;
	font-size: 20px;
}

.left {
	float: left;
	text-align: left;
}

.xinxin {
	float: left;
	    padding-left: 8px;
}

.number {
	margin-top: 12%;
}

.right {
	float: right;
	text-align: right;
	margin-right: 5%;
}

.top {
	margin-top: 10%;
}

.bottom {
	margin-top: 12%;
}