body {
	background: #FFF;
}

.header {
	background-color: #f59b42;
	height: 100px;
	line-height: 100px;
	text-align: center;
	font-size: 20px;
}

.detail {
	height: 128px;
}

.hebing {
	float: left;
	margin-top: 4px;
	margin-left: 9%;
}

.detai1-L {
	background-color: gainsboro;
	height: 80px;
}

.input1 {}

.dangqian2 {
    float: right;
    margin-right: 5%;
    margin-top: 16px;
}

.detail input {
	background-color: #f59b42;
	margin-top: 8px;
	margin-right: 5%;
	padding: -1px 0 0 0px;
	width: 100px;
	height: 32px;
	border-radius: 8px;
	float: right;
	border: 0;
}

.detai3 {
	clear: both;
	height: 150px;
}

.detai3-L {
	height: 40px;
	background-color: gainsboro;
	line-height: 40px;
	/* font-size: 20px; */
	text-align: left;
	text-indent: 1em;
}

li {
	line-height: 40px;
	text-align: center;
}

ul {
float: left;
    margin-left: 5%;
    margin-top: 28px;
}

.detai3 input {
	background-color: #f59b42;
	border-radius: 5px;
	width: 80px;
	height: 30px;
	border: 0;
}