body {
	background: #FFF;
}
.header {
	background-color: #f59b42 ;
	height: 100px;
}
.name-address {
    display: inline-block;
    float: right;
    padding-right: 8%;
    padding-top: 50px;

}
.nick-name {
    position: relative;
    bottom: 32px;
}

img {
    margin-left: 5px;
    margin-top: 5px;
    width: 100px;
}
.login {
	text-align: center;
    margin-top: 64px;
    
}
.login input {
	width: 90%;
    border: 0;
    height: 40px;
    border-radius: 5px;
    background-color: #f59b42;
    font-size: 20px;
}
li {
    height: 60px;
    margin-top: 8px;
    border-bottom: 1px solid gainsboro;
    text-indent: 1em;
}

ul {

}
.body {
	
}
.button {
    margin-left: 10px;
    background-color: #f59b42;
    border: 0;
    border-radius: 5px;
    width: 80px;
    height: 40px;
}
