body {
	background: #FFF;
}
.header {
	background-color: #f59b42 ;
	height: 100px;
}
.name-address {
    display: inline-block;
    float: right;
    padding-right: 8%;
    padding-top: 50px;

}
.nick-name {
    position: relative;
    bottom: 32px;
}

img {
    margin-left: 5px;
    margin-top: 5px;
    width: 100px;
}
.address {
	
}
.body {
	    text-align: center;
	
}
textarea {
    width: 96%;
    height: 500px;
    margin-top: 16px;
    border-radius: 5px;
	
}
